.container{
    border: 2px solid red;
    width: 666px;
    background-color: rgb(205, 198, 192);
    margin: auto;
}
.btn{
    background-color: aqua;
    padding: 6px;
    /* margin-left: 20px; */
    border: none;
    cursor:pointer;
    font-size: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 5px;
    size: 10px;
}

a:hover{
    background-color: rgb(7, 8, 8);
    color:white;
    /* margin-left: 10px; */
    /* padding-left: 20px; */
}

a:visited{
    
    color: red;
}
.btn:hover{
    font-weight: bold;
    border: 2px solid red;
}